footer, .footer-container
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding-bottom: 10px
  height: 18vh
  button
    @extend %less-btn
  .social
    display: flex
    justify-content: center
    color: $log-cl
    li
      padding: 5px 10px
      font-size: 2.5em /*1.5em*/
      transition: all .3s
      transform: scale(1)
      &:hover
        transform: scale(1.1)

.under-footer
  font-size: 0.7em
  background-color: $head-bg
  color: $bd-cl
  padding: 10px 0
  .container
    padding: 0 15px
    p
      display: flex
