header
  display: flex
  justify-content: center
  border-bottom: 1px solid $bd-cl
  position: relative
  .logo-wrap
    color: $log-cl
    text-align: center
    h1
      @extend %h1
    p
      font-size: 30px
      font-weight: 800

.site-nav
  font-family: $h2-ff
  font-size: $menu-fsz
  display: flex
  align-items: center
  #checkbox-menu
    display: none
  label
    cursor: pointer
  .burger-line
    position: absolute
    width: 30px
    height: 2px
    background-color: $white
    bottom: -12px
    // transform: traslateY(50%)
    right: 4%
  .burger-line:nth-child(2)
    bottom: -20px
  .burger-line:nth-child(3)
    bottom: -28px
  #checkbox-menu:checked ~ .burger-line:nth-child(2) 
    background-color: red
  ul
    display: flex
    justify-content: space-between
    display: none
  a
    padding: 5px 10px
    position: relative



.main-pg-header
  border-bottom-color: $white
  color: $white