@media (min-width: 576px)
  .container
    max-width: 540px

@media (min-width: 768px)
  .container
    max-width: 720px
  header
    .logo-wrap
      h1
        font-size: 52px
      p
        font-size: 32px

@media (min-width: 992px)
  .container
    max-width: 960px
  header
    justify-content: space-between
    align-items: center
  .site-nav
    label
      display: none
    span
      display: none
    .main-pg-nav
      position: relative
      bottom: 0
      transform: translateX(0)
      width: auto
      opacity: 1
      background-color: transparent
      display: flex
      a
        border-top: 2px solid transparent
        transition: all .3s
        &:hover
          border-top: 2px solid $white
          color: $log-cl
        
  footer
    flex-direction: row
    button
      font-size: 18px
      border-radius: 20px

@media (min-width: 1200px)
  .container
    max-width: 1140px
  header
    .logo-wrap
      h1
        font-size: 64px
      p
        font-size: 36px