.services-item
  margin-bottom: 30px
  .img-wrap
    height: 165px
    overflow: hidden
  .text-wrap
    padding: 15px 25px
    background-color: #fff
    p
      padding-top: 15px
      padding-bottom: 15px
    a
      text-align: right
      // padding: 5px 0
      cursor: pointer