@import url("https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none; }

a {
  display: block;
  text-decoration: none;
  color: inherit; }

img {
  display: block;
  width: 100%; }

h3 {
  margin-left: -10px; }

input {
  border: none;
  outline: none; }

button {
  border: none; }

.btn-blue {
  width: 186px;
  padding: 8px 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #3065B3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .btn-blue:hover {
    background-color: #254e8b; }

a {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  a:hover {
    color: #3065B3; }

h3 {
  color: #353A42;
  font-size: 1.8rem;
  padding: 1.3rem 0px; }

h4 {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.fivth {
  text-align: center;
  background-color: #FFFFFF;
  margin: 5px;
  width: calc(20% - 10px); }

html {
  font-size: 10px; }

body {
  font: normal 1.5rem/2rem "Archivo", sans-serif;
  color: #848B95;
  background-color: #E5E5E5; }

.top-header {
  color: #353A42;
  padding: 8px 0;
  font-weight: 700; }
  .top-header .offer span {
    font-weight: 400;
    color: #848B95; }
  .top-header .more-inf {
    color: #EE5651; }
    .top-header .more-inf:hover {
      color: #3065B3; }
  .top-header .phones {
    font-size: 1.8rem;
    text-align: right; }

.main-header {
  background-color: #FFFFFF;
  padding-bottom: 20px; }
  .main-header img {
    width: auto; }
  .main-header .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-header .site-nav,
  .main-header .user-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-header .site-nav li,
    .main-header .user-block li {
      display: inline-block;
      padding: 20px 8px; }
    .main-header .site-nav a,
    .main-header .user-block a {
      display: inline-block; }
  .main-header .site-nav {
    color: #353A42; }
  .main-header .user-block .user-cart {
    color: #3065B3; }
    .main-header .user-block .user-cart:hover {
      color: #EE5651; }
  .main-header .categories {
    position: relative; }
    .main-header .categories input {
      display: none; }
    .main-header .categories .cat-btn {
      display: inline-block;
      width: 100%;
      padding-left: 10px;
      text-align: left;
      cursor: pointer; }
  .main-header .category-menu {
    width: 100%;
    text-transform: uppercase;
    background-color: #FFFFFF;
    position: absolute;
    pointer-events: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0; }
    .main-header .category-menu li {
      padding: 8px 0;
      padding-left: 10px; }
      .main-header .category-menu li a {
        width: 100%; }
  .main-header input:checked ~ .category-menu {
    opacity: 1;
    pointer-events: all; }

.search-block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .search-block form span.loupe {
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(40%);
            transform: translateY(-50%) translateX(40%); }
  .search-block form input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 40px;
    background: #F5F5F5; }
  .search-block form .search-btn {
    width: 110px;
    padding: 9px 20px;
    background-color: #EE5651;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    .search-block form .search-btn:hover {
      background-color: #3065B3; }

.slick-slider {
  margin-bottom: 0; }

.slider {
  position: relative;
  margin-top: 30px; }

.slick-dots {
  text-align: right;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px); }
  .slick-dots li {
    width: 40px;
    height: 40px; }
    .slick-dots li button {
      padding: 0;
      width: 40px;
      height: 40px;
      background-color: #353A42;
      opacity: 0.6; }
      .slick-dots li button::before {
        display: none; }
    .slick-dots li button:hover {
      background-color: #3065B3; }

.categ-row-2 .block,
.categ-row-3 .block {
  padding: 5px;
  position: relative; }
.categ-row-2 .text-wrap,
.categ-row-3 .text-wrap {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #FFFFFF; }
  .categ-row-2 .text-wrap p,
  .categ-row-3 .text-wrap p {
    margin: 15px 0;
    font-weight: 500; }

.top-products .text-wrap {
  padding: 10px; }
.top-products button {
  width: 90%; }

.top-brands .brands-item {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .top-brands .brands-item img {
    display: inline-block;
    width: 70%; }

footer h3 {
  margin-left: 0;
  padding: 0; }

.top-footer {
  background-color: #FFFFFF;
  padding-top: 45px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5; }
  .top-footer .features-item {
    padding-left: 60px;
    position: relative; }
    .top-footer .features-item::before {
      position: absolute;
      width: 50px;
      height: 50px;
      display: inline-block;
      content: "";
      background: url("../img/dollar.svg") center 0 no-repeat;
      top: 0;
      left: 0; }
    .top-footer .features-item:nth-child(2)::before {
      background: url("../img/like.svg") center 0 no-repeat; }
    .top-footer .features-item:nth-child(3)::before {
      background: url("../img/quest.svg") center 0 no-repeat; }
    .top-footer .features-item:nth-child(4)::before {
      background: url("../img/arrow.svg") center 0 no-repeat; }

.mid-footer {
  padding: 45px 0;
  background-color: #FFFFFF; }
  .mid-footer h3, .mid-footer li, .mid-footer p {
    padding-bottom: 18px; }
  .mid-footer form {
    position: relative; }
  .mid-footer input {
    width: 100%;
    line-height: 38px;
    padding-right: 38px;
    padding-left: 10px;
    background-color: #F5F5F5; }
  .mid-footer label {
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 10px; }

.sub-footer {
  padding: 10px 0; }
  .sub-footer .sub-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .sub-footer .sub-info img {
      display: inline-block;
      width: auto; }
  .sub-footer .partners {
    text-align: right; }
