@import url('https://fonts.googleapis.com/css?family=Economica|Open+Sans:300,400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font: 300 14px/20px 'Open Sans', sans-serif;
  color: #969696;
}

h2 {
    font: 36px 'Economica', sans-serif;
    line-height: 48px;
    color: #535151;
    margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a img {
  border-style: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.row {
  margin: 50px -15px;
}

.col-4 {
  float: left;
  margin: 0 15px;
  width: 370px;
  min-height: 200px;
}

.btn {
  font: 20px 'Economica', sans-serif;
}

.btn-border {
    width: 95px;
    height: 35px;
    line-height: 35px;
    padding: 3px 30px 7px;
    border: 1px solid #939393;
}
/*Header*/
header {
  min-height: 140px;
  background-color: #f1f0f1;
  padding-top: 28px;
}

a.logo {
  display: block;
  float: left;
  width: 270px;
  height: 113px;
  background-color: #2e2d2d;
}

.logo div {
    float: left;
    width: 50%;
    text-align: center;
    color: #fff;
}

.logo h1 {
    font: 900 48px 'Economica', sans-serif;
    text-transform: uppercase;
    line-height: 76px;
    margin-top: 16px;
    border-right: 1px solid #4c4b4b;
}

.logo p {
    font: 18px 'Economica', sans-serif; 
    padding-top: 42px;
}

.logo-text {

}

nav {
  float: right;
  margin-top: 45px;
  font: 20px 'Economica', sans-serif;
}

nav li {
  display: inline-block;
  margin-left: 38px;
}

nav a.active,
nav a:hover {
  color: #aaccaa;
}
/*\Header*/

/*Main*/
main {
  min-height: 200px;
}

.services {
    color: #fff;
    text-align: center;
}

.services .description {
    width: 370px;
    height: 305px;
}

.services .col-4:nth-child(1) {
    background: #aad4b3 url(../img/flatware.png) no-repeat;
    background-position: center 345px;
    
}

.services .col-4:nth-child(2) {
    background: #86cdd7 url(../img/apple.png) no-repeat;
    background-position: center 40px;
}

.services .col-4:nth-child(3) {
    background: #ffe5b9 url(../img/glass.png) no-repeat;
    background-position: center 345px;
}

.services img {
    display: block;
}

.services h2 {
    color: #fff;
    padding-top: 128px;
}

.services a {
    display: block;
    width: 196px; 
    margin: 0 auto;
/*    margin-top: 13px;*/
    padding-top: 14px;
    border-top: 1px dashed #fff;
}

.features .col-4 {
  text-align: center;
}

.features .numbers {
    display: inline-block;
    font-size: 40px;
    line-height: 120px;
    text-align: center;
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
    border: 1px solid #adacac;
    border-radius: 50%;
}

.features p {
    margin-bottom: 25px;
}


.dishes h2 {
    padding-left: 15px;
}

/*\Main*/

/*Footer*/
footer {
    min-height: 140px;
    background-color: #adacac;
}
/*\Footer*/