@import url('https://fonts.googleapis.com/css?family=Economica|Open+Sans:300,400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font: 300 14px/20px 'Open Sans', sans-serif;
  color: #969696;
  min-width: 1170px;
}

h2 {
    font: 36px 'Economica', sans-serif;
    line-height: 48px;
    color: #535151;
    margin-bottom: 20px;
}

h3 {
    font-size: 18;
    font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

a img {
  border-style: none;
}

ul {
  list-style-type: none;
}

p {
    margin-bottom: 22px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.row {
  margin: 50px -15px;
}

.col-4 {
  float: left;
  margin: 0 15px;
  width: 370px;
  min-height: 200px;
}

.btn {
  font: 20px 'Economica', sans-serif;
}

.btn-border {
    width: 95px;
    height: 35px;
    line-height: 35px;
    padding: 3px 30px 7px;
    border: 1px solid #939393;
}
/*Header*/
header {
  min-height: 140px;
  background-color: #f1f0f1;
  padding-top: 28px;
}

a.logo {
  display: block;
  float: left;
  width: 270px;
  height: 113px;
  color: #fff;
  background-color: #2e2d2d;
}

.logo h1 {
    float: left;
    font: 900 48px 'Economica', sans-serif;
    text-transform: uppercase;
    line-height: 76px;
    padding: 16px 22px;
    border-right: 1px solid #4c4b4b;
}

.logo p {
    float: left;
    font: 18px 'Economica', sans-serif; 
    padding-top: 42px;
    padding-left: 17px;
}

nav {
  float: right;
  margin-top: 45px;
  font: 20px 'Economica', sans-serif;
}

nav li {
  display: inline-block;
  margin-left: 38px;
}

nav a.active,
nav a:hover {
  color: #aaccaa;
}
/*\Header*/

/*Main*/
main {
  min-height: 200px;
}

.services {
    color: #fff;
    text-align: center;
}

.services .description {
    position: relative;
    width: 370px;
    height: 305px;
}

.services .col-4:nth-child(1) {
    background-color: #aad4b3;
    
}

.services .col-4:nth-child(2) {
    background-color: #86cdd7;
}

.services .col-4:nth-child(3) {
    background-color: #ffe5b9;
}

.services .descr-1::before {
    position: absolute;
    top: 40px;
    left: 154px;
    display: block;
    content: "";
    width: 57px;
    height: 66px;
    background: url(../img/Sprites.png) -9px -86px;
} 

.services .descr-2::before {
    position: absolute;
    top: 40px;
    left: 154px;
    display: block;
    content: ""; 
    width: 70px;
    height: 57px;
    background: url(../img/Sprites.png) -11px -11px;
}

.services .descr-3::before {
    position: absolute;
    top: 40px;
    left: 154px;
    display: block;
    content: "";  
    width: 56px;
    height: 64px;
    background: url(../img/Sprites.png) -99px -9px;
}

.services img {
    display: block;
}

.services h2 {
    display: inline-block;
    width: 195px;
    color: #fff;
    padding-top: 128px;
    padding-bottom: 18px;
    margin-bottom: 13px;
    border-bottom: 1px dashed #fff;
}

.services a {
    display: block;
    margin: 0 auto;
/*    padding-top: 14px;*/
/*    border-top: 1px dashed #fff;*/
}

.features .col-4 {
  text-align: center;
}

.features .numbers {
    display: inline-block;
    font-size: 40px;
    line-height: 120px;
    text-align: center;
    width: 120px;
    height: 120px;
    padding-left: 8px;
    margin-bottom: 25px;
    border: 1px solid #adacac;
    border-radius: 50%;
}

.section {
    margin: 0;
    background-color: #f1f0f1;
}

.section .col-6 {
    width: 50%;
    float: left;  
    padding: 45px 0;
}

.section .col-6:first-child {
    padding-left: 90px;
    padding-right: 25px;
}

.section .col-6:first-child p {
    margin-bottom: 21px;
}

.section .col-6:last-child {
    padding-right: 125px;
}

.dishes h2 {
    padding-left: 15px;
}

.dishes a {
    display: block;
    position: relative;
}

.dishes img:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);    
}

.dishes a::after {
    position: absolute;
    bottom: -56px;
    right: 0;
    display: block;
    content: "+";
    width: 36px;
    height: 36px;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #2e2d2d;
}

.testimonials {
    position: relative;
    margin-top: 108px;
}

.testimonials .face,
.testimonials h4,
.testimonials p,
.testimonials a {
    float: left;
}

.feedback {
    
}

.testimonials::before {
    position: relative;
    display: block;
    width: 27px;
    height: 20px;
    top: 83px;
    left: 336px;
    font-size: 40px;
    font-weight: 900;
    color: #535151;
    content: "\201C";
}

.feedback img {
    margin-right: 16px;
}


.feedback p {
    width: 210px;
    margin-bottom: 15px;    
}

.feedback h4 {
    font-size: 16px;
}

.feedback a {
    position: relative;
    float: right;
}

.feedback a::after {
    position: absolute;
    display: block;
    top: -7px;
    left: -13px;
    width: 13px;
    height: 18px;
    content: ">";
    font-size: 30px;
    font-weight: 900;
    color: #a4a4a4;
}

.news .date,
.news p {
    float: left;
}

.news .date {
    width: 70px;
    height: 91px;
    padding-top: 14px;
    margin-right: 28px;
    margin-bottom: 28px;
    font: 24px 'Economica', sans-serif;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #303030;
}

.news p {
    width: 228px;
}

.hours li {
    width: 370px;
    padding-left: 65px;
    margin-bottom: 4px;
    font: 24px 'Economica', sans-serif;
    line-height: 67px;
    color: #fff;
    background-color: #303030;
}

.hours span {
    font-size: 40px;
}

.main-menu .col-4 {
    background-color: #f1f0f1;
    margin-bottom: 30px;
}

.main-menu .col-4:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main-menu img {
    display: block;
}

.main-menu h3 {
    margin-bottom: 22px;
}
.main-menu .item-description {
    padding: 30px 40px 30px 23px; 
}

.content {
    float: left;
    width: 770px;
    margin-bottom: 40px;
}

section {
    padding-top: 35px;    
}

.reserv-img,
.reserv-text1 {
    float: left;
}

.reserv-text1 {
    width: 370px;
    padding-left: 30px;
}

.aisde {
    float: right;
    width: 370px;
    padding-top: 35px;
}

.aside-reserv h4 {
    font-size: 16px;
    font-weight: normal;
}

.blog-content {
    width: 670px;
}

.blog-content h3 {
    font-size: 24px;
    color: #535151;
    margin-top: 40px;
    margin-bottom: 35px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 40px;
}

.table td {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.table i {
    padding-right: 25px;
}

.table .td-3 {
    text-align: right;
}

.td-2 i,
.td-2 span {
    padding-right: 10px;    
}

.categories {
    margin-bottom: 97px;
}

.categories h2 {
    margin-bottom: 5px;
}

.categories-list li {
    position: relative;
    padding-left: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: light;
}

.categories-list li::before {
    position: absolute;
    display: block;
    left:  0;
    top: 10px;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #adacac;
    border-radius: 50%;
}

.recent-item img,
.recent-item .recent-text {
    float: left;
}

.recent-item {
    margin-bottom: 40px;
}

.recent-text {
    width: 215px;
    padding-left: 20px;
}

.recent-text h4 {
    margin-bottom: 8px;
}

.contacts-contain h2 {
    padding-top: 45px;
}

.find {
    margin-bottom: 25px;    
}

.find img,
.find .contact-info {
    float: left;
    line-height: 30px;
}

.find .contact-info {
    padding-left: 30px;
}

.contact-form {
    background-color: #f1f0f1;
}

textarea {
    display: block;
}


/*\Main*/

/*Footer*/
footer {
/*    min-height: 140px;*/
    padding: 45px 0;
    background-color: #adacac;
    color: #fff;
}

footer .copyright {
    float: left;
}

.copyright span {
    font-size: 18px;
}

footer .social {
    float: right;
}

.social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 13px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    
    background-color: #dddddd;
    border-radius: 50%;
    
/*
    background-image: url(../img/tw.png);
    background-repeat: no-repeat;
    background-position: center center;
*/
}
/*\Footer*/