.big-wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
.gall-header
	height: 267px
	background: url('../img/header/1.jpg') center no-repeat
	background-size: cover
	flex: 0 0 auto
.gall-main
	flex: 1 0 auto
	h2
		text-align: center
.gall-container
	columns: 2
	column-gap: 10px
	.gall-item
		width: 100%
		margin: 0 0 10px
		overflow: hidden
		break-inside: avoid

.gall-footer
	flex: 0 0 auto
