@media (max-width: 767px)
  .brands-item
    width: 50%
    width: calc(50% - 10px)
  .categories
    order: 1
    margin-top: 10px

@media (min-width: 768px)
  .fivth
    width: 50%
    width: calc(50% - 10px)
  .top-products .fivth
    width: 33.333333%
    width: calc(33.333333% - 10px)
  .top-header
    text-align: left
    .phones
      text-align: right
  .main-header
    .row:nth-child(1)
      padding-bottom: 20px
    .mob-menu-btn
      display: none
    .site-nav
      display: flex !important
  .user-block
    display: flex
    flex-direction: row
  .categories
    // order: 2
  .side-bar-wrap
    order: 2

@media (min-width: 960px)
  .fivth
    width: 20%
    width: calc(20% - 10px)

@media (max-width: 990px)
  .container
    width: 100%
    max-width: 100%

// .fivth
// 	text-align: center
// 	background-color: $white
// 	margin: 5px
// 	width: calc(20% - 10px)
// .site-nav,
// .user-block
//   display: flex
//   li
//     display: inline-block
//     padding: 20px 8px
//   a
//     display: inline-block
// .site-nav
//   color: $head-color
//   display: none
