#proj-page
	h2
		text-align: center
	h3
		font-size: $h1-fsz
		margin-bottom: 50px
	.row
		flex-direction: column
	.proj-item
		position: relative
		.proj-vid
			width: 375px
			height: 280px
		.proj-vid-item
			width: 100%
			height: 100%
			object-fit: cover
		.col
			min-height: 100vh
		.wrap-proj-img
			width: 100%
			height: 100%
		img
			height: 100%
			width: 100%
			object-fit: cover
		p
			margin-bottom: 70px
	.proj-item:nth-child(odd)
		.proj-img
			order: 2