@import "fonts"
@import "normalize"
@import "settings"

body
  font-family: $body-ff
  font-size: $body-fsz
  color: $body-col
  background-color: $body-bg
// HEADER
header
  height: 100vh
  width: 100%
  position: relative
  overflow: hidden
  .head-slide
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: -2
    transition: all .5s
    opacity: 0
    img
      width: 100%
      height: 100%
      object-fit: cover
  .showing
    z-index: -1
    opacity: 1
  .btn-rotated
    transform: rotate(90deg)
  .burger-btn
    position: fixed
    top: 18px
    left: 18px
    width: 56px
    height: 56px
    border-radius: 50%
    background: rgba(0,0,0,0.5)
    display: flex
    justify-content: center
    align-items: center
    transition: .3s
    z-index: 9999
    // transform: scale(1.4)
    span
      position: relative
      content: ''
      display: block
      width: 36px
      height: 3px
      background-color: #fff
      &:before
        content: ''
        display: block 
        position: absolute
        width: 50%
        height: 100%
        top: -6px
        background-color: inherit
      &:after
        content: ''
        display: block 
        position: absolute
        width: 50%
        height: 100%
        bottom: -6px
        right: 0
        background-color: inherit  
nav
  display: flex
  flex-direction: column
  height: 40px
  background-color: rgba(0,0,0,0)
  font-size: 18px
  font-family: $nav-ff
  text-transform: uppercase
  padding: 0 20px
  position: relative
  top: 20px
  .list-navigation
    position: fixed
    top: 75px
    left: 0
    display: flex
    flex-direction: column
    flex-wrap: wrap
    width: 70%
    transform: translateX(-100%)
    opacity: 0
    transition: .3s
    z-index: 20
  .list-navigation-show
    transform: translateX(0)
    opacity: 1
    transition: .3s
    font-size: 1.4em 
    a
      padding: 10px
      padding-right: 15px
      background: rgba(0,0,0,0.5)
  .social-head
    display: flex
    display: none
    a
      margin-left: 10px
  .social-head 
    a
      width: 32px
      height: 32px
      border: 1px solid #f35510
      border-radius: 50%
      background-image: url(../img/sprite.png)
      background-position: 255px 85px
    a:nth-child(2)
      border-color: #414f90
      background-position: 257px 46px
    a:nth-child(3)
      background-position: 255px 124px

.head-wrap
  width: 100%
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start  
  h1
    @extend %h1
    color: $body-bg
    margin-bottom: 25px
    background-color: rgba(255,255,255,0.2)
  span
    font-size: $h1-fsz
    font-family: 'Open Sans', sans-serif
    font-style: italic
    font-weight: 400
    line-height: 1
    color: $body-bg
    background-color: rgba(255,255,255,0.2)
  a
    @extend %btn
    width: 195px
    background-color: $body-bg
    color: $body-col
    padding: 11px 0
    margin-top: 80px
    align-self: center
#arr-up
  position: fixed
  bottom: 30px
  right: 20px
  width: 30px
  height: 5px
  background-color: $body-col
  cursor: pointer
  transform: rotate(33deg)
  opacity: 0.5
  z-index: 999
  // transition: all 7s
  &:before
    position: absolute
    content: ''
    display: block
    width: 30px
    height: 5px
    background-color: $body-col
    left: -100%
    transform: rotate(-66deg) translate(-6px, 15px)



// MAIN
h2
  @extend %h2
  font-size: 50px
.biography
  overflow: hidden
  .row:nth-child(1)
    background: url(../img/main/bg4.png) top right no-repeat
    background-size: contain
  .bio-item
    display: flex
    flex-direction: column
    position: relative
    z-index: 200
    // opacity: 0
    // transition: all .3s
    p
      margin-bottom: 30px
    .wrap-img
      width: 100%
      text-align: left
    img
      // width: auto
      display: inline-block
      width: 100%
      // margin: 20px 0
      // margin: 70px 0
      margin-bottom: 50px
      box-shadow: -3px -3px 10px 1px rgba(0,0,0,0.5)
  .row:nth-child(2)
    flex-direction: column
  .row:nth-child(1) .bio-item:before
    @extend %circle
    width: 250px
    height: 250px
    top: 55px
    left: -111px 
  .row:nth-child(2) .bi-1:before
    @extend %circle
    width: 150px
    height: 150px
    top: 186px
    left: -75px
    box-shadow: 3px 2px 30px 2px rgba(0,0,0,0.57) inset
  .row:nth-child(2) .bi-1:after
    @extend %circle
    width: 290px
    height: 290px
    bottom: -51px
    right: -43px
  .row:nth-child(2) .bi-2:before
    @extend %circle
    width: 240px
    height: 240px
    top: -27px
    left: 160px
    z-index: -1
  .row:nth-child(2) .bi-2:after
    @extend %circle
    width: 80px
    height: 80px
    bottom: 104px
    left: -40px
    box-shadow: 3px 2px 20px 2px rgba(0,0,0,0.57) inset


.gallery
  // height: 100vh
  margin-bottom: 100px
  overflow: hidden /*********/
  background-size: auto
  .container
    position: relative
    h2
      text-align: center
.gallery-slider-wrap
  // outline: 2px solid aqua
  width: 100%
  height: 240px
  margin: 0 auto
  position: relative
  .prev, .next
    position: absolute
    z-index: 20
    height: 100%
    width: 50px
    cursor: pointer
    transition: .8s
    &:hover
      background-color: rgba(0,0,0,0.2)
    &:before
      position: absolute
      content: ''
      display: block
      width: 20px
      height: 20px
      border-top: 2px solid darken( $body-col, 50% )
      border-left: 2px solid darken( $body-col, 50% )
      top: 50%
  .prev
    top: 0
    left: 0
    &:before
      left: 17px
      transform: rotate(-45deg)
      // transform: rotate(-45deg) translate(-50%, -50%)
  .next
    top: 0
    right: 0
    &:before
      left: 1px
      transform: rotate(135deg)
      // transform: rotate(135deg) translate(-50%, -50%)
  .gallery-slider
    width: 100%
    height: 100%
    overflow: hidden
    position: relative
    img
      height: 100%
      object-fit: cover
      position: absolute
      opacity: 1
      transition: all ease 1s
    .opacity0
      opacity: 0

/*--------------------------------------*/

.projects
  // height: 100vh
  margin-bottom: 100px
  .container
    position: relative
    overflow: hidden
    &:after
      position: absolute
      content: ''
      display: block
      width: 50%
      height: 100%
      bottom: -80px
      right: 0
      background: url(../img/main/bg2.png) left no-repeat
      background-size: contain
      z-index: -1
  //   background: url(../img/main/bg2.png) right no-repeat
  //   background-size: contain
    // background-position-x: center
  h2
    text-align: center
  .row
    display: flex
    flex-direction: column
    // justify-content: space-between
    // align-items: flex-end
  .projects-slider
    width: 100%
    margin-bottom: 50px
    .inner-row 
      display: flex
    a
      width: 300px
      height: 270px
      padding: 10px
    .slide-pic
      width: 100%
      height: 100%
      object-fit: cover
  .wrap-proj-btn
    width: 100%
    display: flex
    justify-content: center
  .more-proj
    @extend %btn
    width: 250px
    color: $body-bg
    padding: 15px
    z-index: 100
/*--------------------------------------*/

.reviews
  // height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  h2
    text-align: center
  .row
    display: flex
    flex-direction: column
.review-item
  // margin-bottom: 120px
  // padding: 0 120px
  padding: 15px
  padding-top: 120px
  position: relative
  &:nth-child(1):before
    content: ''
    display: block
    width: 100px
    height: 100px
    border-radius: 50%
    background: url(../img/cat.jpg) center no-repeat
    background-size: cover
    position: absolute
    // top: 50%
    // transform: translateY(-50%)
    // left: 0
    top: 10px
    left: 50%
    transform: translateX(-50%)
  &:nth-child(2):after
    content: ''
    display: block
    width: 100px
    height: 100px
    border-radius: 50%
    background: url(../img/dog.jpg) center no-repeat
    background-size: cover
    position: absolute
    // top: 50%
    // transform: translateY(-50%)
    // right: 0
    top: 10px
    right: 50%
    transform: translateX(50%)
  /*--------------------------------------*/

.contact 
  margin-top: 70px
  overflow: hidden
  h2
    text-align: center
  .row
    flex-direction: column
  form
    // width: 420px
    width: 90%
    margin: 0 auto
    display: flex
    flex-direction: column
    position: relative
    z-index: 99
    &:before
      @extend %circle
      top: -70px
      left: -70px
    &:after
      @extend %circle
      width: 250px
      height: 250px
      bottom: -58px
      right: -129px  
    input
      height: 46px
      margin-bottom: 15px
      padding: 0 15px
      font-weight: 700
    input[type=submit]
      @extend %btn
      font-weight: 400
      width: 220px
      margin: 0 auto
      margin-bottom: 30px
      cursor: pointer
      border: none
      outline: 0
    textarea
      padding: 15px
      height: 150px
      resize: none
      margin-bottom: 30px
      font-weight: 700
      outline: 0
  .cotact-info
    position: relative
    z-index: 100
    &:before
      @extend %circle
      width: 290px
      height: 290px
      right: -177px
      top: -43px
    p
      @extend %h1
      font-size: 40px
      text-align: center
  .social-contact
    display: flex 
    justify-content: center
    margin-top: 60px
    a
      width: 48px
      height: 48px
      margin-right: 13px
      border: 1px solid #f35510
      border-radius: 50%
      background-image: url(../img/sprite.png)
      background-position: 258px 278px
      z-index: 100
    a:nth-child(2)
      border-color: #414f90
      background-position: 261px 178px
    a:nth-child(3)
      background-position: 257px 366px
/*--------------------------------------*/

@import "gallery"
@import "projects"

footer
  padding-top: 50px
  background-color: #1F2238
  .row
    display: flex
    flex-direction: column
    // flex-direction: space-between
  .foot-item
    // width: 25%
    width: 100%
  .foot-social
    display: flex
    justify-content: center
    a
      width: 32px
      height: 32px
      margin-right: 10px
      border: 1px solid #f35510
      border-radius: 50%
      background-image: url(../img/sprite.png)
      background-position: 255px 85px
    a:nth-child(2)
      border-color: #414f90
      background-position: 257px 46px
    a:nth-child(3)
      background-position: 255px 124px
      margin-right: 0
  .some-info
    padding: 15px
    // padding-right: 15px
    h3
      font-family: $h1-ff
      font-size: 18px
    p
      margin: 24px 0
      font-size: 0.8em
    .btn
      @extend %btn
      font-size: 0.8em
      padding: 10px 0
      width: 150px
  .phone
    display: flex
    justify-content: center
    position: relative
    padding-top: 60px
    padding-bottom: 20px
    &:before
      position: absolute
      content: ''
      display: block
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 40px
      height: 40px
      margin-right: 10px
      border: 1px solid #f35510
      border-radius: 50%
      background-image: url(../img/sprite.png)
      background-position: 254px 226px  
  .email
    display: flex
    justify-content: center
    position: relative
    padding-top: 60px
    padding-bottom: 20px
    &:before
      position: absolute
      content: ''
      display: block
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 40px
      height: 40px
      margin-right: 10px
      border: 1px solid #f35510
      border-radius: 50%
      background-image: url(../img/sprite.png)
      background-position: 255px 321px



  .sub-footer
    text-align: right
    padding: 30px 15px
    font-size: 0.8em
    p, a
      display: inline-block


@import "media"