@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  width: 50%;
  padding: 15px;
}

.head-wrap h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 50px 0;
}

.head-wrap a, .projects .more-proj {
  background-color: #dddddd;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fcfcfd;
  background-color: #292d4a;
}

header {
  height: 100vh;
  background: url(../img/header/1.jpg) center no-repeat;
  background-size: cover;
  padding-top: 20px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
}
nav .list-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .list-navigation a {
  padding-right: 15px;
}
nav .social-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .social-head a {
  margin-left: 10px;
}
nav .social-head a {
  width: 32px;
  height: 32px;
  border: 1px solid #f35510;
  border-radius: 50%;
  background-image: url(../img/sprite.png);
  background-position: 255px 85px;
}
nav .social-head a:nth-child(2) {
  border-color: #414f90;
  background-position: 257px 46px;
}
nav .social-head a:nth-child(3) {
  background-position: 255px 124px;
}

.head-wrap {
  width: 50%;
  margin-top: 30vh;
}
.head-wrap h1 {
  color: #292d4a;
  margin-bottom: 25px;
}
.head-wrap span {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
  color: #292d4a;
}
.head-wrap a {
  width: 195px;
  background-color: #292d4a;
  padding: 11px 0;
  margin-top: 80px;
}

.biography .bio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.biography .bio-item img {
  width: auto;
  margin: 70px 0;
}

.gallery {
  position: relative;
  height: 100vh;
}
.gallery h2 {
  text-align: center;
}
.gallery .prev {
  position: absolute;
  bottom: 150px;
  left: 0;
  cursor: pointer;
}
.gallery .next {
  position: absolute;
  bottom: 150px;
  right: 0;
  cursor: pointer;
}

.galery-slider {
  overflow: hidden;
  outline: 1px solid aqua;
  position: relative;
  width: 780px;
  margin: 0 auto;
}
.galery-slider-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.galery-slider-cont a {
  margin: 10px;
  width: 390px;
  height: 310px;
  overflow: hidden;
}
.galery-slider-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}
.galery-slider-cont img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.projects h2 {
  text-align: right;
}
.projects .projects-slider .inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects .projects-slider a {
  width: 225px;
  height: 270px;
  padding: 10px;
}
.projects .projects-slider .slide-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .wrap-proj-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.projects .more-proj {
  width: 250px;
  color: #292d4a;
  padding: 15px;
}

.reviews .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-item {
  margin-bottom: 120px;
}
.review-item p {
  padding: 0 150px;
}
.review-item .review-item::nth-child(1) {
  display: none;
}

/*# sourceMappingURL=main.css.map */