@font-face {
    font-family: joan;
    src: url('joan.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
body {
    background-color: #000033; 
    text-align-last: center;
}
*/

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #000033;
    position: relative;
    z-index: -5;
}

h1 {
    display: inline-block;
    font-family: joan;
    font-size: 85px;
    font-weight: 400;
    color: #ffff66;
    text-transform: uppercase;
    text-align: center;
/*    margin: 15vw auto;*/
/*    margin: auto;*/
        
/*
    background: linear-gradient(to bottom left, #ffffcc, #ffcc00, #660000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    position: relative;
*/
     text-shadow: 0 0 20px #E02106;
    position: relative;
/*    z-index: 10;*/
}

.neon::after {
    content: attr(data-text);
    position: absolute;
    top: 13px;
    left: 45px;
    z-index: -1;
    color: #E02106;
    filter: blur(15px);
}

.neon::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 8px;
    width: 100%;
    height: 100%;
    background-color: #ff3300;
    z-index: -2;
    opacity: .5;
    filter: blur(30px);
}

h1 .sax-man {
    content: '';
    display: inline-block;
    width: 43px;
    height: 91px;
    background: url('img/sax-man.png') center no-repeat; 
    position: relative;
    top: 10px;
    left: 10px;
}


h1 .mic {
    content: '';
    display: inline-block;
    width: 24px;
    height: 82px;
    background:  url('img/mic.png') center no-repeat;
    position: relative;
    top: 12px;
}