@font-face {
    font-family: Univers_lt;
    src: url(fonts/univers_lt_std_light.otf);
}
@font-face {
    font-family : Segoe_ui;
    src: url(fonts/segoe_ui.woff);
}

@font-face {
    font-family: AlteHaasGroteskRegular;
    src: url(fonts/AlteHaasGroteskRegular.woff);
}

@font-face {
    font-family: Lavanderia_regular;
    src: url(fonts/lavanderia_regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Univers_lt;
    font-size: 15px;
    color: #8b8b8b;
/*    background-color: pink;*/
}

h1 {
    font-family: Lavanderia_regular;
    font-size: 2.73em;
}

h2 {
    font-size: 4.6em;
}

h3 {
    font-size: 2.33em;
}

.container {
    width: 100%;
    min-width: 300px;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 100vh;
}

h1 span {
    color: #b73958;
}

.nav-section {
    background-color: rgba(255,255,255,0.7);
/*    position: relative;*/
/*    z-index: 1;*/
    position: absolute;
    left: 0;
    right: 0;
}

.nav-section .container {
    position: relative;
}

.nav-block {
/*    position: relative;*/
}

.nav-block input {
    display: none;
}

.nav-block label {
    display: flex;
    flex-direction: column;
}

.nav-block .burger-line {
    height: 2px;
    width: 30px;
    background-color: #454545;
    margin: 2px 0;
/*
    position: absolute;
    top: 20px;
    right: 6vw;
*/
}

.nav-block .burger-line:nth-child(2),
.nav-block .burger-line:nth-child(3) {
/*    top: 28px;*/
}

.nav-block .burger-line:nth-child(4) {
/*    top: 36px;*/
}


.nav-block .main-nav {
    font-family: Segoe_ui;
    font-size: 2em;
    color: #333333;
    width: 100vw;
    height: 45vh;
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);   
    z-index: 10;
    
    opacity: 0;
    pointer-events: none;
}

.nav-block input:checked ~ .main-nav {
    opacity: 1;
    pointer-events: all;
}

.main-nav a {
    margin: 1vh -0px;
}

.slide-section {
    height: 100vh;
    background: url('img/pink_flower.jpg') center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.slide-section .slide-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4vw;
}

.circles-wrap {
    width: 170px;
    height: 160px;
/*    display: flex;*/
    position: relative;    
}

.slide-section .circle {
    width: 117px;
    height: 117px;
    border-radius: 50%;
    background-color: #fff;
    opacity: .7;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slide-section .circle:nth-child(2) {
    width: 92px;
    height: 92px;
    left: 70px;
    top: 10px;    
}

.slide-section .circle:nth-child(3) {
    width: 71px;
    height: 71px;
    left: 90px;
    bottom: 20px;
}

.slide-section h2 {
    font-family:  AlteHaasGroteskRegular;
    text-transform: uppercase;
}

.slide-section p {
    font-size: 1.6em;
    padding-bottom: 30px;
}

main .features {
    text-align: center;
}
