@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Passion+One:400,700");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

header .logo-wrap h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
}

footer button {
  font-size: 24px;
  color: #ffffff;
  padding: 10px 20px;
  background-color: #f57f0c;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #3c3b3b;
  background: #f6f5f4;
  height: 100vh;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-wrap p {
  padding: 30px 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #3c3b3b;
  position: relative;
}
header .logo-wrap {
  color: #f57f0c;
  text-align: center;
}
header .logo-wrap p {
  font-size: 30px;
  font-weight: 800;
}

.site-nav {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}
.site-nav #checkbox-menu {
  display: none;
}
.site-nav label {
  display: block;
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  bottom: -55px;
  right: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.site-nav .burger-line {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  bottom: -36px;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
  right: 21px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.site-nav .burger-line:nth-child(4) {
  bottom: -30px;
}
.site-nav .burger-line:nth-child(5) {
  bottom: -42px;
}
.site-nav #checkbox-menu:checked ~ .burger-line:nth-child(5) {
  -webkit-transform: rotate(45deg) translateX(-8px);
          transform: rotate(45deg) translateX(-8px);
}
.site-nav #checkbox-menu:checked ~ .burger-line:nth-child(4) {
  -webkit-transform: rotate(-45deg) translateX(-8px);
          transform: rotate(-45deg) translateX(-8px);
}
.site-nav #checkbox-menu:checked ~ .burger-line:nth-child(3) {
  -webkit-transform: translateX(-100%) scale(0);
          transform: translateX(-100%) scale(0);
}
.site-nav #checkbox-menu:checked ~ label {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
.site-nav .main-pg-nav {
  position: absolute;
  left: 0;
  bottom: -269px;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.site-nav a {
  padding: 10px 10px;
  cursor: pointer;
}
.site-nav #checkbox-menu:checked ~ .main-pg-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.main-pg-header {
  border-bottom-color: #ffffff;
  color: #ffffff;
}

.head-wrap {
  margin-top: 60px;
  text-align: center;
}

.services-item {
  margin-bottom: 30px;
}
.services-item .img-wrap {
  height: 165px;
  overflow: hidden;
}
.services-item .text-wrap {
  padding: 15px 25px;
  background-color: #fff;
}
.services-item .text-wrap p {
  padding-top: 15px;
  padding-bottom: 15px;
}
.services-item .text-wrap a {
  text-align: right;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  height: 18vh;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f57f0c;
}
footer .social li {
  padding: 5px 10px;
  font-size: 2.5em;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo-wrap h1 {
    font-size: 52px;
  }
  header .logo-wrap p {
    font-size: 32px;
  }

  .site-nav label {
    display: none;
  }
  .site-nav span {
    display: none;
  }
  .site-nav .main-pg-nav {
    position: relative;
    bottom: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: auto;
    opacity: 1;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer button {
    font-size: 18px;
    border-radius: 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  header .logo-wrap h1 {
    font-size: 64px;
  }
  header .logo-wrap p {
    font-size: 36px;
  }
}

/*# sourceMappingURL=main.css.map */