@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans.woff);
   }
@font-face {
    font-family: 'MyriadPro';
    src: url(../fonts/MyriadPro.OTF);
   }
@font-face {
    font-family: 'GothamBlack';
    src: url(../fonts/GothamBlack.ttf);
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato-Light';
    src: url(../fonts/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

a.btn {
    padding: 15px 20px;
    font: normal 14px 'Lato-Regular';
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ffcc33;
    border-radius: 2px;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

input {
    border: none;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    font-family: 'MyriadPro';
    font-weight: 300;
    font-size: 2.7em;
    line-height: 100%;
}

h2 {
    font-family: 'GothamBlack';
    font-size: 30px;
    
}

h3 {
    font-family: 'Lato-Bold';
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Lato-Light';
    font-size: 25px;
    text-transform: uppercase;
    color: #999999;
}

section {
    padding-top: 150px;
}

.container,
.container-fluid {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-3 {
    width: 220px;
}

.col-6 {
    width: 560px;
}

body {
    font: normal 13px/24px 'OpenSans', sans-serif;
    color: #666666;
}

header {
    padding: 20px 0;
    text-transform: uppercase;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orange;
}

header nav {
    position: relative;
}

nav .main-nav {
    display: flex;
}

nav input, nav label {
    display: none;
}

nav label {
    font-size: 2.5em;
}

header a {
    padding: 11px 20px;
}

header a:hover {
    background-color: #ffcc33;
    color: #fff;
    transition: .2s;
    border-radius: 3px;
}

section.head-section {
    height: 590px;
    padding-top: 100px;
    color: #fff;
    background-color: #6699cc;
    position: relative;
}

.head-section .container {
    flex-direction: column;
    text-align: center;
}

.p-subhead {
    font-family: 'MyriadPro';
    font-size: 1.23em;
}

form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

form input {
    padding: 15px;
    padding-left: 27px;
    margin: 5px;
    border-radius: 3px;
}

form .submit {
    padding: 15px 42px;
    color: #fff;
    background-color: #ffcc33;
}

.slider {
    width: 648px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -45px;
    text-align: center;
}

.slider .laptop-frame {
    display: inline-block;
    width: 485px;
    height: 316px;
    border: 20px solid #000;
    border-bottom: 32px solid #000;
    border-radius: 12px 12px 0 0;
} 

.laptop-frame img {
    width: 100%;
}

.slider .laptop-board {
    width: 100%;
    height: 22px;
    background-color: #ccc;
    position: absolute;
    bottom: -14px;
    border-radius: 0 0 3px 3px;
}

.slider .slide-switchers {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
} 

.slider .switcher {
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.slider .switcher:hover {
    border-color: #3399cc;
}

.services {
    padding-top: 200px;
    padding-bottom: 155px;
}

.sect-header {
    text-align: center;
    margin-bottom: 30px;
} 

.services .service-item {
    padding-left: 80px;
    margin-top: 80px;
}

section.about {
    padding-top: 0;
    display: flex;
    color: #fff;
    height: 623px;
}

.about .about-pict,
.about .about-text {
    width: 50vw;
}

.about .about-pict {
    background: url(../img/table.jpg) center no-repeat;
    background-size: cover;
}

/*
.about .about-pict img {
    width: 100%;
}
*/

.about .about-text {
    background-color: #ffcc66;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
}

.about-text p {
    max-width: 508px;
    margin: 26px 0;
}
.about-text a {
    width: 132px;
    background-color: #ffcc66;
    border: 1px solid #E7AD48;
    border-radius: 1px;
}

section.price {
    background-color: #E7EDF3;
}

.price .container-fluid {
    justify-content: center;
}

.price .p-subhead {
    margin-bottom: 50px;
}

.price .price-card {
    height: 440px;
    width: 390px;
    font-family: 'Lato-Regular';
    text-transform: uppercase;
    padding: 0 30px;
    color: #ccc;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price .card-selected {
    height: 500px;
    color: #fff;
    background-color: #709DCA;
    transition: .3s;
}

.price-card span {
    font-family: 'Lato-Bold';
    font-size: 60px;
    color: #ffcc33;
}

.card-selected h4,
.card-selected span {
    color: #fff;
}

.price-card p:nth-child(2) {
    margin: 30px 0;
}

section.process .container-fluid {
    justify-content: center;
}
.process .process-item {
    margin: 0 12px;
} 
.process a {
    margin: 0 auto;
}

section.clients {
    background-color: #ffcc66;
}
.clients .client-pct {
    width: 121px;
    height: 121px;
}
.clients .client-col {
    height: 240px;
    padding: 44px 35px 0 30px;
    margin-top: 20px;
    display: flex;
    background-color: #fff;
}
.clients .client-text {
    padding-left: 30px;
}

section.newsletter input {
    border: 1px solid #ccc;
}
.newsletter .submit {
    border-color: transparent;
}
.newsletter .container {
    height: 560px;
    background: url(../img/map.png) center no-repeat;
    background-size: cover;
    justify-content: center;
    border-bottom: 1px solid #ccffff;
}
.newsletter .adress-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.newsletter .adress {
    width: 280px;
    height: 280px;
    margin-bottom: 20px;
    color: #99cccc;
    border-radius: 50%;
    background-color: #394B50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


footer .main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav {
    display: flex;
    text-transform: uppercase;
}
.footer-nav a {
    padding: 0 17px;
}
.bottom-footer {
    padding: 16px 0;
    color: #fff;
    text-align: center;
    background-color: #6699cc;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
