* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.label-wrap {
    width: 800px;
    height: 370px;
    background-color: #D6D6D6;
    border-radius:185px;
    padding: 10px;
    transition: .3s;
}

input.checkbox {
    display: none;
}

.label-wrap label {
    display: block;
    width: 350px;
    height: 350px;
    background-color: #F7F7F7;
    border-radius: 50%;
    box-shadow: 2px 7px 14px -7px #000000;
    transition: .3s;
}

.wrap .checkbox:checked ~ .label-wrap {
    background-color: #6BD55C;
}


.wrap .checkbox:checked ~ .label-wrap label {
    transform: translateX(430px);
}
