@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

h3 {
    font-size: 30px;
    padding: 47px 0 37px 0;
    border-bottom: 1px dotted #dedede;
}

h4 {
    font-size: 24px;    
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 42px;
}

body {
    font-family: 'PT Sans', sans-serif; 
    font-size: 14px;
    line-height: 1;
    color: #272727;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-width: 340px;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 5%;
}



header .top-header {
    font-size: 12px;
    line-height: 28px;
    padding: 2px 0;
    color: #ffffff;
    background-color: #3BBDFB;
}

.top-header .container {
    justify-content: space-between;
}

.top-header ul {
    display: flex;
    flex-wrap: wrap;
}

.head-contacts i {
    padding-right: 6px;
}

.head-contacts li:nth-child(1) {
    margin-right: 22px;
}

.head-contacts li:nth-child(2) {
    margin-right: 37px;
}

.user-block li {
    padding: 0 11px;
    border-right: 1px solid #fff;
}

.user-block li:nth-child(4) {
    border-right: 0px;
}

.mid-header .container {
    height: 185px;
    font-size: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: #454545;
    line-height: 1;
}

h1 span {
    color: #3bbdfb;
}

.foot-header {
    font-size: 16px;
    color: #2a2b2c;    
}

.foot-header .main-nav {    
    border-top: 3px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
    display: flex;
    justify-content: center;
}

.main-nav a {
    padding: 33px 17px;
    margin: -3px 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.main-nav a:hover {
    color: #3bbdfb;
    background-color: #f7f7f7;
    border-top: 3px solid #bab7b7;
    border-bottom: 3px solid #bab7b7;;
}

main .slogan {
    height: 421px;
    background: url(../img/landscape.jpg) no-repeat;
    background-size: cover;
}

.slogan .container {
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.slogan img {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.slogan h2 {
    font-size: 72px;
    padding-bottom: 30px;
    font-weight: bold;
    position: relative;
    z-index: 10;
}

.slogan p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
}

.slogan .img {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0;
}

.slogan .container {
    height: 100%;
    flex-direction: column;
}

section.circles-section {
    background-color: #f7f8fa;
    border-bottom: 1px solid #e6e6e6;
}

section.circles-section .text-wrap {
    padding: 30px 0;
    margin-bottom: 70px;
    text-align: center;
    border-bottom: 2px dotted #dedede;
}

.circles-section .container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.circles-section .circle {
    width: 260px;    
    height: 260px;
    padding: 30px;
    margin-bottom: 65px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 2px solid #dedede;
    border-radius: 50%;
    position: relative;
}

.circles-section .circle::before {
    display: inline-block;
    content: "";
    width: 64px;
    height: 64px;
    background: url(../img/photik.png) center no-repeat;
    background-color: #3bbdfb;    
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.circle a {    
    display: inline-block;
    width: 100px;
    padding: 7px 11px;
    color: #fff;
    background-color: #3bbdfb;
}

section.portfolio {
    text-align: center;
    background-color: #fafafa;
}

section .under {
    padding: 37px 0;
}

.portfolio .container {
    justify-content: space-between;
}

.portfolio .portfolio-item {
    width: 276px;
    text-align: left;
    margin-bottom: 75px;
    cursor: pointer;
} 

.portfolio-item .text {
    padding: 15px 25px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
}

.portfolio-item h5 {
    padding-bottom: 22px;
    border-bottom: 1px dotted #dedede;
}

.portfolio-item .text p {
    padding-top: 22px;
}

section.opin_n_faq {
    background-color: #f7f8fa;
}

.opin_n_faq .testimonials,
.opin_n_faq .testimonials faq {
    width: 570px;
}

.testimonial-item {
    display: flex;
    margin-top: 40px;
}

.testimonial-item .testimonial-text {
    padding: 0 20px;
    line-height: 22px;
}

.faq h3 {
    margin-bottom: 40px;
}

.faq ul li {
    font-weight: 600;
    padding: 13px;
    padding-left: 52px;
    margin-bottom: 5px;
    border: 1px solid #eeeeee;
    border-radius: 4px 0 0 4px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.faq ul li::before {
    content: "+";  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 2em;
    text-align: center;
    position: absolute;
    border-right: 1px solid #dddddd;
    top: 0px;
    left: -1px;    
}

section.news {
    text-align: center;
    background-color: #fafafa;
    border-bottom: 2px solid #dedede;
}

.news-item {
    width: 365px;
    display: flex;
    margin-bottom: 65px;
}

.news-item img-block {
    width: 170px;
}

.news-item .text {
    padding: 5px 14px;
    text-align: left;
}

.news-item .text p {
    line-height: 22px;
}

.news-item .text .blue {
    color: #3bbdfb;
}

.news-item .text i {
    padding-right: 10px;
}

.partners {
    padding: 70px 0;
    background-color: #f7f8fa;
}

.partners .partner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 225px;
    height: 132px;
    background-color: #fff;
    border-bottom: 3px solid #e0dada;
}

footer .top-footer {
    padding: 10px 0;
    color: #fff;
/*    margin-bottom: 40px;*/
    background-color: #2cb9fc;
    border-top: 3px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
}

.top-footer .social-icons {
    display: flex;
    align-items: center;
}

.top-footer .social-icons i {
    margin: 0 10px;    
}

.top-footer .search-form {
    display: flex;
    align-items: center;
} 

.search-form input {
    display: block;
    height: 38px;
    padding: 11px;
    padding-right: 37px;
    border: 2px solid #fff;
    background-color: #2bb8fc;
    border-radius: 6px 0 0 6px;
}

.search-form input::placeholder {
    color: #fff;
}

.search-form label {
    width: 36px;
    height: 38px;
    font-size: 20px;
    border-radius: 0 6px 6px 0;
    color: #2bb8fc;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form input:focus {
    background-color: #fff;
}

.mid-footer {
    padding-top: 40px;
    background-color: #f7f8fa;
}

.mid-footer div,
.mid-footer form {
    flex-basis: calc(25% - 30px);
}

.mid-footer .blog-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
}

.mid-footer .blog-card-text {
    padding-top: 10px;
    padding-left: 15px;
}

.mid-footer .foot-slogan h6 {
    font-weight: bold;
    margin-bottom: 33px;
}

.mid-footer .foot-slogan p {
    line-height: 22px;
}

.mid-footer h4 {
    margin-bottom: 22px;
}

.mid-footer .foot-slogan span {
    color: #959595;
}

.foot-contacts p {
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 27px;
}

.mid-footer form {
    display: flex;
    flex-direction: column;
}

.subscribe input {
    padding: 10px;
    margin-bottom: 15px;
    border: transparent;
    border-bottom: 1px solid #dedfe1;
}

.subscribe button {
    width: 105px;
    height: 34px;
    align-self: flex-end;
    border: none;
    color: #fff;
    background-color: #3bbdfb;
    border-bottom: 3px solid #1da7e8;
}

footer .sub-footer {
    line-height: 40px;
    color: #a6a6a6;
    background-color: #2a2b2c;
}

.sub-footer li {
    display: inline-block;
}