@import url("https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i");
h2 {
  color: #fff;
  font-size: 4.2666666667em;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header form button, .main-header label[for=checkbox] {
  width: 186px;
  padding: 8px 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #3065B3;
  transition: 0.3s;
}
.main-header form button:hover, .main-header label[for=checkbox]:hover {
  background-color: #153C74;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
a:hover {
  color: #3065B3;
}

ul {
  list-style: none;
}

input,
label {
  display: inline-block;
  border: none;
  outline: none;
  background-color: #F5F5F5;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body {
  font: normal 15px/20px "Archivo", sans-serif;
  color: #848b95;
  background-color: #E5E5E5;
}

.top-header {
  background-color: inherit;
  color: #000;
  padding: 8px 0;
  font-weight: 700;
}
.top-header .offer {
  display: flex;
}
.top-header .offer span {
  font-weight: 400;
  color: #848b95;
}
.top-header .offer a {
  color: #EE5651;
  padding-left: 10px;
}
.top-header .offer a:hover {
  color: #3065B3;
}

.main-header {
  background-color: #fff;
  padding-bottom: 20px;
}
.main-header .site-nav {
  color: #000;
}
.main-header .site-nav,
.main-header .user-block {
  display: flex;
}
.main-header .site-nav li,
.main-header .user-block li {
  padding: 20px 8px;
}
.main-header .site-nav a,
.main-header .user-block a {
  transition: 0.3s;
}
.main-header .site-nav a:hover,
.main-header .user-block a:hover {
  color: #3065B3;
}
.main-header a.user-cart {
  color: #EE5651;
}
.main-header .logo {
  align-self: center;
}
.main-header input#checkbox {
  display: none;
}
.main-header label[for=checkbox] {
  width: 270px;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  position: relative;
}
.main-header label[for=checkbox] .fa-bars {
  padding-right: 15px;
}
.main-header .category-menu {
  width: 270px;
  text-transform: uppercase;
  background-color: #fff;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.main-header .category-menu li {
  padding: 8px;
}
.main-header .category-menu li a {
  width: 100%;
}
.main-header .category-menu .call-sub {
  display: flex;
  cursor: pointer;
}
.main-header .category-menu .call-sub .sub-menu {
  position: absolute;
  transform: translateX(270px);
  opacity: 1;
  pointer-events: none;
  transition: 0.3s;
  background-color: #fff;
}
.main-header .category-menu .call-sub:hover .sub-menu {
  opacity: 1;
  pointer-events: all;
}
.main-header input#checkbox:checked ~ .category-menu {
  opacity: 1;
  pointer-events: all;
}
.main-header form {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.main-header form span.loupe {
  font-size: 1.3em;
  position: absolute;
  top: 8px;
  left: 35px;
}
.main-header form input#search-text {
  background-color: #F5F5F5;
  flex: 1;
  margin-left: 25px;
  padding-left: 40px;
}
.main-header form button {
  border: none;
  width: 100px;
  background-color: #EE5651;
  cursor: pointer;
  position: relative;
}
.main-header form button:hover {
  background-color: #3065B3;
}

footer {
  background-color: #fff;
}

.top-footer {
  padding-top: 45px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}
.top-footer .features-item {
  padding-left: 60px;
  position: relative;
}
.top-footer .features-item::before {
  width: 50px;
  height: 50px;
  display: inline-block;
  content: "";
  background: url("../img/dollar.svg") center 0 no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.top-footer .features-item:nth-child(2)::before {
  background: url("../img/like.svg") center 0 no-repeat;
}
.top-footer .features-item:nth-child(3)::before {
  background: url("../img/quest.svg") center 0 no-repeat;
}
.top-footer .features-item:nth-child(4)::before {
  background: url("../img/arrow.svg") center 0 no-repeat;
}

.mid-footer {
  padding: 45px 0;
}
.mid-footer .info-item {
  width: 23%;
}
.mid-footer h3, .mid-footer li, .mid-footer p {
  padding-bottom: 18px;
}
.mid-footer form {
  position: relative;
}
.mid-footer input {
  width: 100%;
  line-height: 38px;
  padding-right: 38px;
  padding-left: 10px;
}
.mid-footer label {
  font-size: 1.3em;
  position: absolute;
  right: 10px;
  top: 10px;
}

.sub-footer {
  padding: 10px 0;
  background-color: #E5E5E5;
}
.sub-footer .sub-info {
  align-items: center;
}

.items-wrap a {
  display: block;
  width: 200px;
}
.items-wrap a img {
  display: block;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

/*# sourceMappingURL=style.css.map */
